<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tmr24">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMR24">
        <activity
            android:name=".UserInfoMyProject"
            android:label="@string/title_activity_user_info_my_project"
            android:exported="false" />
        <activity
            android:name=".UserInfoProject"
            android:exported="false"
            android:label="@string/title_activity_user_info_project" />
        <activity
            android:name=".UserInfoTasks"
            android:label="@string/title_activity_user_info_tasks"
            android:exported="false" />
        <activity
            android:name=".UserInfoMyTasks"
            android:label="@string/title_activity_user_info_my_tasks"
            android:exported="false" />
        <activity
            android:name=".UserInfoOperativActivity"
            android:exported="false"
            android:label="@string/title_activity_user_info_operativ" />
        <activity
            android:name=".UserShiftHistory"
            android:exported="false" />
        <activity
            android:name=".UserProcessActivity"
            android:exported="false" />
        <activity
            android:name=".UserShiftActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>